body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Header Styling */
header {
    background-color: #007BFF;
    color: white;
    padding: 20px;
    text-align: center;
}

#searchBar {
    padding: 10px;
    width: 80%;
    max-width: 400px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    /* border-style: none; */
}

/* Product List Styling */
#productList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.product {
    background-color: white;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}

.product img {
    width: 250px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    /* margin: 10px auto 10px; */
} 

.product h3 {
    margin: 10px 0;
}

.product p {
    font-size: 1.1em;
    color: #333;
}

.product button {
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.product button:hover {
    background-color: #218838;
}

/* Cart Section Styling */
#cart {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    background: white;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

#checkoutButton {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

#checkoutButton:hover {
    background-color: #0056b3;
}

/* Footer Styling */
footer {
    text-align: center;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    margin-top: 40px;
}

.remove-item {
    background-color: #ff4d4d;   /* Red background */
    color: white;                /* White text */
    border: none;
    height: 8vh;
    padding: 8px 8px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 5px;
}

.remove-item:hover {
    background-color: #e60000;   /* Darker red on hover */
}
